nb-card {
    margin-bottom: 1rem;
  }
  
  textarea {
    background-color: #f7f9fc;
    border: 1px solid #e4e9f2;
    padding: 0.5rem;
    font-family: monospace;
  }
  
  button[nbButton] {
    margin-right: 0.5rem;
  }