<nb-card *ngIf="sonarMetrics.length > 0" class="quality-report-card">
  <nb-card-header>
    <h3 class="project-title">
      Code Quality Report for
      <span class="project-key">{{ projectKey }}</span>
    </h3>
    <p *ngIf="analysisDate" class="analysis-date">
      Date of Analysis: {{ analysisDate | date:'medium' }}
    </p>
    <button nbButton status="primary" (click)="toggleCharts()">Afficher/Masquer les Graphiques</button>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="areChartsVisible">
      <!-- Graphique Circulaire -->
      <ngx-charts-pie-chart [results]="pieChartData" [doughnut]="true" [legend]="true" [labels]="true"
        [colorScheme]="colorScheme">
      </ngx-charts-pie-chart>

      <!-- Graphique à Barres -->
      <ngx-charts-bar-vertical [results]="barChartData" [xAxis]="true" [yAxis]="true" [showGridLines]="true"
        [colorScheme]="colorScheme">
      </ngx-charts-bar-vertical>
    </div>
  </nb-card-body>
</nb-card>